@page "/Identity/Account/Confirmation"


<div class="container d-flex justify-content-center">
    <div class="card mt-5" style="width:45rem">
        <div class="card-body text-center">
            <h3 class="display-2">Erfolgreich!</h3>
            <h5>Dein Account wurde aktiviert</h5>

            <label class="mt-2">Klicke <a href="/Identity/Account/Login">hier</a> um dich anzumelden</label>

        </div>
    </div>
</div>

@code {

}
