@page "/Identity/Account/Login"
@inject Apollon.Mud.Client.Services.Interfaces.IAuthorizationService AuthorizationService
@inject NavigationManager NavManager

@using Apollon.Mud.Client.Data.Models



<div class="container d-flex justify-content-center">
    <div class="card mt-5" style="width:45rem">
        <div class="card-body text-center">
            <h1 class="display-2">Anmelden</h1>

            <section>
                <h4 class="ml-2">Nutze deinen bereits erstellten Account um dich anzumelden</h4>
                <hr />
                @if (loginFailure)
                {
                    <label class="text-danger mt-1"><strong>Die eingegebenen Daten sind nicht korrekt!</strong></label>
                }
                <EditForm EditContext="@loginContext" OnSubmit="@HandleLoginSubmit" novalidate>
                    <DataAnnotationsValidator />

                    <div class="form-group mt-5">
                        <label for="Input_Email">E-Mail</label>
                        <div class="d-flex justify-content-center">
                            <InputText class="form-control" style="width:25rem" type="email" placeholder="E-Mail" id="Email" @bind-Value="loginModel.Email" />
                        </div>
                    </div>
                    <div class="text-danger">
                        <ValidationMessage For=@(() => loginModel.Email) />
                    </div>
                    <div class="form-group mt-4">
                        <label for="Input_Password">Passwort</label>
                        <div class="d-flex justify-content-center">
                            <InputText class="form-control" style="width:25rem" type="password" placeholder="Passwort" id="Passwort" @bind-Value="loginModel.Password" />
                        </div>
                    </div>
                    <div class="text-danger">
                        <ValidationMessage For=@(() => loginModel.Password) />
                    </div>
                    <button class="btn btn-primary mt-5" type="submit">Anmelden</button>
                </EditForm>
                <p></p>
                <p>
                    <a id="forgot-password" href="/Identity/Account/ForgotPassword">Passwort vergessen?</a>
                </p>
                <p class="mt-5">
                    <label class="text-muted">Du hast noch keinen Account?</label>
                    <a class="text-muted" href="/Identity/Account/Register"> Jetzt registrieren</a>
                </p>
            </section>
        </div>
    </div>
</div>

@code {
    /// <summary>
    /// The Bound Boolean to inform the user about a failed Login
    /// </summary>
    bool loginFailure = false;

    /// <summary>
    /// The Model to validate the "Login" Form
    /// </summary>
    private LoginModel loginModel = new LoginModel();

    /// <summary>
    /// The Context for the "Login" Form
    /// </summary>
    private EditContext loginContext;

    /// <summary>
    /// When the component is initialized this Method instantiates the EditContext
    /// </summary>
    protected override void OnInitialized()
    {
        loginContext = new EditContext(loginModel);
    }

    /// <summary>
    /// This Method, called when the user wants to log in, validates the form and reacts accordingly
    /// </summary>
    /// <returns>The Task that authorizes the user credentials</returns>
    private async Task HandleLoginSubmit()
    {
        loginFailure = false;
        var validLogin = loginContext.Validate();
        if (validLogin)
        {
            bool response = await AuthorizationService.Login(loginModel.Email, loginModel.Password);
            if (response)
            {
                NavManager.NavigateTo("/");
            }
            else
            {
                loginFailure = true;
            }
        }
    }

}
