@page "/wiki/game"


<div class="container text-center shadow bg-white min-vh-100">
    <div class="card shadow">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <a class="btn btn-primary btn-sm float-start" href="/wiki/">Zurück</a>
                </div>
                <div class="col">
                    <h5 class="float-start">Spielen in einem Dungeon</h5>
                </div>
            </div>
        </div>
        <div class="card-body">
            <section id="1" class="mt-3">
                <h5></h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Game/Bild1.jpg" width="850px" />
                    </div>
                    <div class="col">
                        <div class="d-flex h-100">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Um in einem Dungeon spielen zu können ist es erforderlich entweder über „Deine Dungeons“ einem von dir erstellten Dungeon
                                    beizutreten oder unter „Spiele“ einem bereits erstellten Dungeon beitreten.
                                    Bei einem Beitritt eines Dungeons erfolgt die Ansicht, wie in der folgenden Abbildung dargestellt.
                                    Unter „Masteransicht“ ist es möglich als Dungeon Master einem Dungeon beizutreten,
                                    falls man die nötigen Rechte dazu besitzt.
                                    Unter „Neuer Avatar“ wird ein Avatar erstellt.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="2" class="mt-3">
                <h5></h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Game/Bild2.jpg" width="850px" />
                    </div>
                    <div class="col ">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Bei der Erstellung des Avatars ist es erforderlich einen Namen für den Avatar zu vergeben und ein Geschlecht.
                                    Für die Klasse und Rasse können, die vom Dungeon Creator oder Dungeon Master gegebenen Optionen gewählt werden.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="3" class="mt-3">
                <h5></h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Game/Bild3.jpg" width="850px" />
                    </div>
                    <div class="col">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Nach der Erstellung eines Avatars gelangst du erneut zur Ansicht der Avatar Auswahl.
                                    Für einen Dungeon kannst du mehrere Avatare erstellen.
                                    Unter „Beitreten“ kannst du zum eigentlichen Spiel gelangen.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="4" class="mt-3">
                <h5></h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Game/Bild4.jpg" width="850px" />
                    </div>
                    <div class="col ">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    In der folgenden Abbildung siehst du die Konsole, über die du interaktiv im Dungeon spielen kannst.
                                    Auf der rechten Seite ist der Chat, über den du mit dem Dungeon Master,
                                    mit anderen Dungeon Playern im selben Raum oder mit Dungeon Playern im ganzen Raum chatten kannst.
                                    Wähle für deinen Chatpartner einfache die jeweilige Option im Dropdown unter „Nachricht an:“ aus.
                                </p>
                                <a href="/wiki/creation">Zum Erstellungs-Wiki</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="5" class="mt-3">
                <h5></h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Game/Bild5.jpg" width="850px" />
                    </div>
                    <div class="col">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Der wohl wichtigste Befehl ist der „hilfe“ Befehl. Mit dem „hilfe“ Befehl kannst du dir alle möglichen Befehle
                                    mit ihrer jeweiligen Funktion anzeigen lassen.
                                    Mit der „hilfe“ erkennst du unter den letzten Befehlen, ob es einen Befehl gibt,
                                    der vom Dungeon Master bearbeitet wird.
                                    In diesem Fall gibt es einen „Tutorialbefehl“ der vom Dungeon Master erstellt wurde.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="6" class="mt-3">
                <h5></h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Game/Bild6.jpg" width="850px" />
                    </div>
                    <div class="col">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    In der folgenden Abbildung sind einige Befehle dargestellt, wie sie funktionieren. Mit dem „schaue“ Befehl kannst du dich im Raum umsehen. 
                                    Es erfolgt eine Beschreibung des Raums, sowie eine Anzeige der Gegenstände und Avatare im jeweiligen Raum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card p-2 mt-3 mb-3">
                            <p>
                                Mit dem „untersuche“ Befehl kannst du Gegenstände im Raum näher untersuchen.
                                Du kannst auch versuchen mit diesen Gegenständen zu interagieren und die Befehle aus der Hilfe nutzen.
                                Jedoch kann man beispielsweise nicht alle Gegenstände in dein Inventar aufnehmen oder konsumieren.
                            </p>
                            <p>
                                Mit dem „inventar“ Befehl kannst du dir das Maximalgewicht deines Inventars anzeigen lassen und die Gegenstände in deinem Inventar anzeigen lassen.
                                Mit dem „eigenschaften“ Befehl kannst du dir die Eigenschaften deines Avatars anzeigen lassen.
                            </p>
                            <p>
                                Mit einem Befehl, der von einem Dungeon Master erstellt wurde, wird mit der Eingabe des Befehls eine entsprechende Anfrage an den Dungeon Master gesendet.
                                Der Dungeon Master bearbeitet diese Anfrage anschließend und du bekommst eine Rückmeldung.
                                Ist jedoch kein Dungeon Master aktiv bekommst du eine entsprechende Rückmeldung, wie in der Konsole der Abbildung dargestellt.
                            </p>
                            <p>
                                Bist du vom aktiven Spiel ermüdet und brauchst eine Pause oder musst mit dem Spielen aufhören,
                                kannst du mit „beende“ Befehl die Verbindung beenden und das Spiel wird gespeichert.
                                Du bist nicht mehr aktiv, erscheinst jedoch bei erneutem Eintreten in demselben Raum mit denselben Eigenschaften und Gegenständen.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@code {

}
