@page "/wiki/master"


<div class="container text-center shadow bg-white min-vh-100">
    <div class="card shadow">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <a class="btn btn-primary btn-sm float-start" href="/wiki/">Zurück</a>
                </div>
                <div class="col">
                    <h5 class="float-start">Leiten eines Dungeons</h5>
                </div>
            </div>
        </div>
        <div class="card-body">
            <section id="1" class="mt-3">
                <h5>1. Dungeon-Master</h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Master/Bild1.jpg" width="850px" />
                    </div>
                    <div class="col">
                        <div class="d-flex h-100">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Der Dungeon Master leitet das Spielgeschehen.
                                    Der Dungeon Master verfügt über vier relevante Funktionen für das Spiel.
                                    Die Funktionen sind in der Masteransicht im oberen Bereich kenntlich dargestellt.
                                    Die fünfte Funktion ist in der Masteransicht auf der rechten Seite dargestellt und
                                    befasst sich mit der Kommunikation zwischen Dungeon Player und Dungeon Master.
                                    &nbsp
                                    Auf der Abbildung im rot markierten Bereich sind die jeweiligen Funktionen dargestellt.
                                    Die einzelnen Funktionen werden in den folgenden Punkten behandelt.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="2" class="mt-3">
                <h5>2. Spielerliste</h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Master/Bild2.jpg" width="850px" />
                    </div>
                    <div class="col ">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Auf der Abbildung im rot markierten Bereich ist die erste Funktion die „Spielerliste“.
                                    Mit der Spielerliste besitzt der Dungeon Master eine Übersicht über die jeweiligen Player im Raum.
                                    Die Dungeon Player unterteilen sich in Player und Master.
                                    Mit einem Klick auf einen Player öffnen sich genauere Informationen zu dem jeweiligen Spieler.
                                    Diese Informationen umfassen den Namen, die Klasse, die Rasse, den derzeitigen Standort,
                                    den aktiven oder inaktiven Status des Spielers und zusätzlich kann der Player dem Dungeon verbannt oder rausgeschmissen werden.
                                    Der Dungeon Master kann seine Funktion als Dungeon Master auch an die jeweiligen Player übergeben,
                                    behält seine eigenen Dungeon Master Rechte aber dennoch.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="3" class="mt-3">
                <h5>3. Befehlsanfragen</h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Master/Bild3.jpg" width="850px" />
                    </div>
                    <div class="col">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Der Dungeon Master kann im Abschnitt „Konfiguration“ „Eigene Befehle“ erstellen und diese einem Raum zuweisen.
                                    Diese Befehle werden von den Dungeon Player aufgerufen. Sobald der eigene Befehl aufgerufen wird,
                                    wird eine Anfrage an den Dungeon Master geschickt. Diese Anfrage wird von dem Dungeon Master bearbeitet.
                                    Eine Bearbeitung des Befehls wird mit einem Text und einem Effekt konfiguriert.
                                    Der Effekt kann dem Avatar Lebenspunkte hinzufügen oder abziehen.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="4" class="mt-3">
                <h5>4. Konfiguration</h5>
                <div class="row mt-3">
                    <div class="col ">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Für die Konfiguration verweisen wir auf unsere WikiHowErstellungDungeon. In der Konfiguration werden alle Einstellungen bezüglich des Dungeons vorgenommen. Die Einstellungen in der Konfiguration sind dieselben wie bei der Erstellung des Dungeons. Folglich kann das WikiHow für die Dungeon Erstellung auch genutzt werden, um den Dungeon zu konfigurieren.
                                </p>
                                <a href="/wiki/creation">Zum Erstellungs-Wiki</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Master/Bild4.jpg" width="850px" />
                    </div>
                    <div class="col">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Dungeon Anfragen beziehen sich nur auf private Dungeons.
                                    Damit ein Player einem privaten Dungeon beitreten kann, muss dieser Player dem Dungeon bei „Spiele“ eine Anfrage schicken.
                                    Diese Anfrage wird dem Dungeon Master unter dem Reiterpunkt „Offene Anfragen“ angezeigt.
                                    Der Dungeon Master entscheidet daraufhin, ob er dem Player Zugang zu dem Dungeon gewähren soll.
                                    &nbsp
                                    Bei öffentlichen Dungeons ist die Funktion der „Offene Anfragen“ nicht relevant, da jeder Dungeon Player jedem öffentlichen Dungeon beitreten kann.
                                    Somit wird keine Anfrage an den Dungeon Master geschickt.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="5" class="mt-3">
                <h5>5. Dungeon Anfragen</h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Master/Bild4.jpg" width="850px" />
                    </div>
                    <div class="col">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Dungeon Anfragen beziehen sich nur auf private Dungeons.
                                    Damit ein Player einem privaten Dungeon beitreten kann, muss dieser Player dem Dungeon bei „Spiele“ eine Anfrage schicken.
                                    Diese Anfrage wird dem Dungeon Master unter dem Reiterpunkt „Offene Anfragen“ angezeigt.
                                    Der Dungeon Master entscheidet daraufhin, ob er dem Player Zugang zu dem Dungeon gewähren soll.
                                    &nbsp
                                    Bei öffentlichen Dungeons ist die Funktion der „Offene Anfragen“ nicht relevant, da jeder Dungeon Player jedem öffentlichen Dungeon beitreten kann.
                                    Somit wird keine Anfrage an den Dungeon Master geschickt.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="6" class="mt-3">
                <h5>6. Chat</h5>
                <div class="row mt-3">
                    <div class="col ">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Für die Chatfunktion des Dungeon Masters, befindet sich in unserem Wiki schon ein WikiHowChat.
                                    Auf der Seite werden die einzelnen Chatfunktionen erläutert. Diese umfasst auch die Chatfunktionen,
                                    die ein Dungeon Master besitzt.
                                    Dort werden alle relevanten Chatfunktionen für den Dungeon Master erläutert.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>



@code {

}
