@page "/wiki"



<div class="container py-3 bg-white min-vh-100">
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Apollon-Wiki</h1>
            <p class="fs-5 text-muted">Benötigst du Hilfe? Hier findest du detaillierte Anleitungen zum Spielen, Erstellen und Leiten eines Dungeons.</p>
        </div>
    </header>

    <main class="mt-5">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-info">
                    <div class="card-header py-3 text-white" style="background-color: #3FB3DA; border-color: #3FB3DA">
                        <h4 class="my-0 fw-normal">Anleitung</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">Spielen</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>&nbsp</li>
                            <li>Benötigst du Hilfe beim Spielen?</li>
                            <li>&nbsp </li>
                            <li>Hier findest du hilfreiche Tipps!</li>
                            <li>&nbsp </li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-info">Zum Wiki</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-info">
                    <div class="card-header py-3 text-white" style="background-color: #3FB3DA; border-color: #3FB3DA">
                        <h4 class="my-0 fw-normal">Anleitung</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">Master</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>&nbsp</li>
                            <li>Du weißt nicht wie du einen Dungeon leitest?</li>
                            <li>&nbsp </li>
                            <li>Hier findest du alle benötigten Infos!</li>
                            <li>&nbsp </li>
                        </ul>
                        <a type="button" class="w-100 btn btn-lg btn-info" href="/wiki/master">Zum Wiki</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-info">
                    <div class="card-header py-3 text-white " style="background-color: #3FB3DA; border-color: #3FB3DA">
                        <h4 class="my-0 fw-normal">Anleitung</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">Erstellen</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>&nbsp</li>
                            <li>Du willst einen eigenen Dungeon erstellen?</li>
                            <li>&nbsp </li>
                            <li>Hier findest du alle wichtigen Dinge, die du beachten musst!</li>
                        </ul>
                        <a type="button" class="w-100 btn btn-lg btn-info" href="/wiki/creation">Zum Wiki</a>
                    </div>
                </div>
            </div>
        </div> 
    </main>
</div>



@*<div class="container bg-white min-vh-100 text-center">
    <div class="container mt-5">
        <h2>Apollon-Wiki</h2>
        <p class="text-muted fs-5">Benötigst du Hilfe? Hier findest du detaillierte Anleitungen zum Spielen, Erstellen und Leiten eines Dungeons.</p>
    </div>
    <div class="row text-center">
        <div class="col">
            <div class="card">
                <div class="card-header">Spielen</div>
                <div class="card-body">
                    <p>Hier findest du nützliche Hinweise und Tipps für das Spielen!</p>
                    <button class="btn btn-info">Zur Anleitung</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">Spielen</div>
                <div class="card-body">
                    <p>Hier findest du nützliche Hinweise und Tipps für das Spielen!</p>
                    <button class="btn btn-info">Zur Anleitung</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">Spielen</div>
                <div class="card-body">
                    <p>Hier findest du nützliche Hinweise und Tipps für das Spielen!</p>
                    <button class="btn btn-info">Zur Anleitung</button>
                </div>
            </div>
        </div>
    </div>
</div>*@

@code {

}
