@page "/wiki/creation"


<div class="container text-center shadow bg-white min-vh-100">
    <div class="card shadow">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <a class="btn btn-primary btn-sm float-start" href="/wiki/">Zurück</a>
                </div>
                <div class="col">
                    <h5 class="float-start">Erstellen eines Dungeons</h5>
                </div>
            </div>
        </div>
        <div class="card-body">
            <section id="1" class="mt-3">
                <h5>1. Deine Dungeons</h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Creation/Bild1.jpg" width="850px" />
                    </div>
                    <div class="col">
                        <div class="d-flex h-100">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Nach der Anmeldung im Client wirst du auf diese Seite weitergeleitet.
                                    Zu sehen ist die Startseite des Clients. Auf der Startseite befindet sich in der rechten oberen Ecke der Button „Deine Dungeons“.
                                    Klicke auf diesen Button um die Seite deiner erstellten Dungeons zu gehen.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="featurette-divider" />
            <section id="2" class="mt-3">
                <h5>2. Neuer Dungeon</h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Creation/Bild2.jpg" width="850px" />
                    </div>
                    <div class="col ">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Auf dieser Seite werden deine bereits erstellten Dungeons angezeigt.
                                    Um mit der Erstellung des Dungeons zu beginnen, klicke auf eines der markierten Bereiche.
                                    Daraufhin erfolgt eine automatische Weiterleitung.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="featurette-divider" />
            <section id="3" class="mt-3">
                <h5>3. Allgemeines</h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Creation/Bild3.jpg" width="850px" />
                    </div>
                    <div class="col">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Die Seite zur Erstellung eines Dungeons, ist der Start zur vollständigen Erstellung eines Dungeons.
                                    Unter „Allgemeines“ sind die notwendigen Informationen des zu erstellenden Dungeons.
                                    Damit dieser Abschnitt erfolgreich gespeichert werden kann, müssen alle Felder ausgefüllt werden.
                                    Der Status muss initial auf „Inaktiv“ gesetzt werden.
                                    Bei der Sichtbarkeit ist es möglich zwischen „Privat“ und „Öffentlich“ zu wählen. Falls „Privat“ gewählt wird, ist der Dungeon für alle Player sichtbar,
                                    jedoch muss ein Player eine Anfrage für die Teilnahme des Dungeons schicken.
                                    Diese Personen werden individuell vom DungeonMaster angenommen.
                                    Die öffentliche Sichtbarkeit hingegen, bietet jedem Spieler Zugang.
                                    Ist alles aufgefüllt und der Speicherbutton wurde betätigt, erscheinen automatische die restlichen Konfigurationsmöglichkeiten.
                                    Zu den einzelnen Konfigurationsmöglichkeiten wird in den folgenden Schritten eingegangen.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="featurette-divider" />
            <section id="4" class="mt-3">
                <h5>4. Klassen</h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Creation/Bild4.jpg" width="850px" />
                    </div>
                    <div class="col ">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Im Bereich „Klassen“ werden alle notwendigen Konfigurationen bezüglich der Klassen getroffen.
                                    Mit dem Namen und der Beschreibung sind die Klassen definierbar.
                                    Für die Anpassbarkeit der Lebenspunkte, Schaden und Verteidigung muss ein Bereich zwischen 1 und 99 gewählt werden.
                                    Das Startitem wird bei der Erstellung eines Avatars mitgegeben. Für eine Auswahl des Startitems muss zunächst ein Item vorhanden sein.
                                    Der Status sollte auf „Aktiv“ gesetzt sein, damit die Klasse auch nutzbar ist.
                                    Durch das „Speichern“ wird die Klasse final gesetzt und ist bei der Avatarerstellung auswählbar.
                                    Im folgendem ist eine Beispielklasse dargestellt.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Creation/Bild5.jpg" width="850px" />
                    </div>
                    <div class="col">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Wurde im Vorfeld ein Item schon erstellt, kann dieses bei „Startitems“ ausgewählt werden und mit „Item hinzufügen“ der Klasse hinzugefügt werden.
                                    Durch das „-„ kann das Item nachträglich wieder entfernt werden.
                                    Die Klasse kann durch abändern und erneutes speichern aktualisiert werden.
                                    Ist eine Klasse erfolgreich gespeichert, kann mit dem „+“-Button eine weitere Klasse erstellt werden.
                                    Durch das „Inaktiv“ setzen, wird die Klasse dem Dungeon Player ausgeblendet. Durch den „Entfernen“ Button, kann die Klasse auch endgültig gelöscht werden.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="featurette-divider" />
            <section id="5" class="mt-3">
                <h5>5. Rassen</h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Creation/Bild6.jpg" width="850px" />
                    </div>
                    <div class="col ">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Die Konfiguration der Rasse läuft nach demselben Muster, wie die Konfiguration einer Klasse ab.
                                    Im Gegensatz der Klasse besitzt die Rasse kein Startitem.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="featurette-divider" />
            <section id="6" class="mt-3">
                <h5>6. Items</h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Creation/Bild7.jpg" width="850px" />
                    </div>
                    <div class="col ">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Items können in 5 Kategorien aufgeteilt werden. Jeder dieser Kategorien besitzt einen Namen und eine Beschreibung.
                                    Je nach Kategorie kann es spezifische Eigenschaften geben.
                                    Untersuchbar: Besitzt außer Namen und Beschreibung keine weiteren Eigenschaften. Jedes Item ist untersuchbar.
                                    Ausschließlich untersuchbar kann zum Beispiel ein Item ohne weitere Funktion sein, wie ein Haus oder ein Baum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Creation/Bild8.jpg" width="850px" />
                    </div>
                    <div class="col ">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Aufnehmbar: Aufnehmbare Items können in das Inventar eines Avatars aufgenommen werden.
                                    Zusätzlich bringt das Item ein Gewicht mit sich, welches die Inventargröße beeinflusst.
                                    Dies könnte beispielsweise ein Brief oder eine Liste sein. Die folgenden 3 Kategorien sind auch alle aufnehmbar.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Creation/Bild9.jpg" width="850px" />
                    </div>
                    <div class="col ">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Konsumierbar: Konsumierbare Items sind Items die ein Avatar konsumieren kann.
                                    Ein konsumierbares Item kann einen Effekt auslösen.
                                    Konsumierbare Items können beispielsweise ein Getränk oder eine Nahrung sein.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Creation/Bild10.jpg" width="850px" />
                    </div>
                    <div class="col ">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Verwendbar: Ein verwendbares Item ist ein Item, mit dem einen Schadensboost eingestellt wird.
                                    Dies kann zum Beispiel ein Schwert oder Schaufel sein.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Creation/Bild11.jpg" width="850px" />
                    </div>
                    <div class="col ">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Tragbar: Tragbare Items sind Items, die einen Verteidigungsboost bewirken.
                                    Dazu kann zum Beispiel eine Rüstung oder ein Schild gehören.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="featurette-divider" />
            <section id="7" class="mt-3">
                <h5>7. NPCs</h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Creation/Bild12.jpg" width="850px" />
                    </div>
                    <div class="col ">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    NPCs sind computergesteuerte Avatare im Spiel.
                                    Diese Avatare haben einen Namen und eine Beschreibung.
                                    Dem NPC kann ein Text mitgegeben werden, welches bei einer Interaktion mit einem Dungeon Player kommuniziert wird.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="featurette-divider" />
            <section id="8" class="mt-3">
                <h5>8. Eigene Befehle</h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Creation/Bild13.jpg" width="850px" />
                    </div>
                    <div class="col ">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Der Dungeon Creator kann mit „Eigene Befehle“, individuelle Befehle dem Dungeon hinzufügen.
                                    Der lesbare Ausdruck wird dem Dungeon Player als Hilfe angezeigt.
                                    Die Hilfe zeigt die korrekte Syntax die als Eingabe notwendig ist an.
                                    Der reguläre Ausdruck hingegen, ist der auszuführende Befehl.
                                    Im folgenden Link sind Hilfestellungen zu den Regulären Ausdrücken:
                                </p>
                                <a href="https://docs.microsoft.com/de-de/dotnet/standard/base-types/regular-expression-language-quick-reference">Link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="featurette-divider" />
            <section id="9" class="mt-3">
                <h5>9. Räume</h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Creation/Bild14.jpg" width="850px" />
                    </div>
                    <div class="col ">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Einem Raum kann standardmäßig ein Name und eine Beschreibung hinzugefügt werden.
                                    In einem Raum sind auch Items platzierbar, diese werden ausgewählt und mit dem Button „Raumitem hinzufügen“ platziert.
                                    Wenn mehrere Räume vorhanden sind, ist es möglich im Bereich „Nachbarräume“ benachbarte Räume über eine Ortsrichtung anzubinden.
                                    Erstellte NPCs können ebenfalls wie Raumitems hinzugefügt werden. Dies gilt auch für erstellte eigene Befehle.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="featurette-divider" />
            <section id="10" class="mt-3">
                <h5>10. Abschluss</h5>
                <div class="row mt-3">
                    <div class="col">
                        <img src="/Images/Wiki/Creation/Bild15.jpg" width="850px" />
                    </div>
                    <div class="col ">
                        <div class="d-flex h-100 ">
                            <div class="card p-2 align-self-center">
                                <p>
                                    Sofern alle notwendigen Konfigurationen erfüllt sind, kann der Status des Dungeons bei „Allgemeines“ auf „Aktiv“ gesetzt werden.
                                    Damit ist der Dungeon bereit um gestartet zu werden.
                                    Abschließend werden die Konfigurationen mit „Speichern“ abgeschlossen.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

@code {

}
