@using Apollon.Mud.Client.Data.Models
@using Apollon.Mud.Shared.Dungeon
@using Apollon.Mud.Shared.Dungeon.Room
@inject Apollon.Mud.Client.Services.Interfaces.IDungeonService DungeonService

<div class="card">
    <div class="card-header">
        <h2>Allgemeines</h2>
    </div>
    <div class="card-body">

        <EditForm EditContext="@dungeonContext" OnSubmit="@HandleDungeonSubmit" novalidate>
            <DataAnnotationsValidator />

            <div class="form-group mt-2">
                <div class="row">
                    <div class="col-3">
                        <h5 class="mt-1">Name</h5>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <InputText class="form-control" placeholder="Name" id="Name" @bind-Value="dungeonModel.Name" />
                        </div>
                        <div class="text-danger">
                            <ValidationMessage For=@(() => dungeonModel.Name) />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mt-5">
                <div class="row">
                    <div class="col-3">
                        <h5 class="mt-1">Beschreibung</h5>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <InputTextArea class="form-control" placeholder="Beschreibung" @bind-Value="dungeonModel.Description" />
                        </div>
                        <div class="text-danger">
                            <ValidationMessage For=@(() => dungeonModel.Description) />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mt-5">
                <div class="row">
                    <div class="col-3">
                        <h5 class="mt-1">Epoche</h5>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <InputTextArea class="form-control" placeholder="Text" @bind-Value="dungeonModel.Epoch" />
                        </div>
                        <div class="text-danger">
                            <ValidationMessage For=@(() => dungeonModel.Epoch) />
                        </div>
                    </div>
                </div>
            </div>

            @if (DungeonHasRooms)
            {
                <div class="form-group mt-5">
                    <div class="row">
                        <div class="col-3">
                            <h5 class="mt-1">Startraum</h5>
                        </div>
                        <div class="col">
                            <div class="d-flex justify-content-center">
                                <select class="form-select" @bind="dungeonModel.DefaultRoom">
                                    <option selected hidden value=""></option>
                                    @foreach (RoomDto room in dungeonRooms)
                                    {
                                        <option value="@room.Name">@room.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="text-danger">
                                <ValidationMessage For=@(() => dungeonModel.DefaultRoom) />
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="form-group mt-5">
                <div class="row">
                    <div class="col-3">
                        <h5 class="mt-1">Sichtbarkeit</h5>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <select class="form-select" @bind="dungeonModel.Visibility">
                                <option selected hidden value=""></option>
                                <option value="Public">Öffentlich</option>
                                <option value="Private">Privat</option>
                            </select>
                        </div>
                        <div class="text-danger">
                            <ValidationMessage For=@(() => dungeonModel.Visibility) />
                        </div>
                    </div>
                </div>
            </div>

            <hr class="featurette-divder" />

            <div class="form-group mt-3">
                <div class="row">
                    <div class="col-3">
                        <h5 class="mt-1">Status</h5>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <select class="form-select" @bind="dungeonModel.Status">
                                @if (DungeonMustBeInactive)
                                {
                                    <option selected hidden value=""></option>
                                    <option value="Pending">Inaktiv</option>
                                    <option value="Approved" disabled>Aktiv</option>
                                }
                                else
                                {
                                    <option selected hidden value=""></option>
                                    <option value="Approved">Aktiv</option>
                                    <option value="Pending">Inaktiv</option>
                                }
                            </select>
                        </div>
                        <div class="text-danger">
                            <ValidationMessage For=@(() => dungeonModel.Status) />
                        </div>
                    </div>
                </div>
            </div>

            <hr class="featurette-divder" />

            <div class="row  d-flex justify-content-center">
                <button class="btn btn-success" style="max-width:20rem" type="submit">Speichern</button>
            </div>
        </EditForm>

    </div>
</div>

@code {

    /// <summary>
    /// Represents wether a Dungeon has atleast 1 Room
    /// </summary>
    [Parameter]
    public bool DungeonHasRooms { get; set; }

    /// <summary>
    /// Represents wether a dungeon has at least 1: Class, Race and Room to enable its activitiy
    /// </summary>
    [Parameter]
    public bool DungeonMustBeInactive { get; set; }

    /// <summary>
    /// The attribute of the validation model when creating a new Race
    /// </summary>
    DungeonModel dungeonModel = new DungeonModel();

    /// <summary>
    /// The EditContext used by the form
    /// </summary>
    EditContext dungeonContext;

    /// <summary>
    /// The List containing the Npcs of the Dungeon
    /// </summary>
    List<RoomDto> dungeonRooms = new List<RoomDto>();

    /// <summary>
    /// The Guid of the dungeon
    /// </summary>
    [Parameter]
    public Guid DungeonId { get; set; }

    ///<summary>
    /// Called when the Dungeon is saved or loaded
    ///</summary>
    [Parameter]
    public EventCallback<Guid> OnDungeonSavedOrLoaded { get; set; }

    /// <summary>
    /// Called when the component is initialized, this method instantiates the EditContext of the form, receives data from the backend and saves them locally
    /// </summary>
    protected async override void OnInitialized()
    {
        dungeonContext = new EditContext(dungeonModel);

        if (DungeonId != Guid.Empty)
        {
            var dungeonDto = await DungeonService.GetDungeon(DungeonId);
            dungeonModel.Name = dungeonDto.DungeonName;
            dungeonModel.Description = dungeonDto.DungeonDescription;
            dungeonModel.Epoch = dungeonDto.DungeonEpoch;
            dungeonModel.Status = dungeonDto.Status == 0 ? "Approved" : "Pending";
            dungeonModel.Visibility = dungeonDto.Visibility == 0 ? "Private" : "Public";
            DungeonId = dungeonDto.Id;
            await OnDungeonSavedOrLoaded.InvokeAsync(DungeonId);
            if (!(dungeonDto.DefaultRoom is null)) dungeonModel.DefaultRoom = dungeonDto.DefaultRoom.Name;
        }
    }

    /// <summary>
    /// Handles the submition of a created Npc, validates the data and saves them locally and on the server
    /// </summary>
    /// <returns></returns>
    private async Task HandleDungeonSubmit()
    {
        var validDungeon = dungeonContext.Validate();
        if (validDungeon)
        {
            DungeonDto submitDungeon = new DungeonDto();
            submitDungeon.DungeonName = dungeonModel.Name;
            submitDungeon.DungeonDescription = dungeonModel.Description;
            submitDungeon.DungeonEpoch = dungeonModel.Epoch;
            submitDungeon.DefaultRoom = dungeonRooms.Find(r => r.Name.Equals(dungeonModel.DefaultRoom));
            submitDungeon.Visibility = dungeonModel.Visibility.Equals("Private") ? 0 : 1;
            submitDungeon.Status = dungeonModel.Status.Equals("Approved") ? 0 : 1;
            if (submitDungeon.Id == Guid.Empty)
            {
                var responseGuid = await DungeonService.CreateNewDungeon(submitDungeon);
                if (responseGuid != Guid.Empty)
                {
                    await OnDungeonSavedOrLoaded.InvokeAsync(responseGuid);
                    DungeonId = responseGuid;
                }
            }
            else
            {
                submitDungeon.Id = DungeonId;
                var oldDungeonDto = await DungeonService.UpdateDungeon(submitDungeon);
                if (!(oldDungeonDto is null))
                {
                    DungeonId = oldDungeonDto.Id;
                    dungeonModel.Name = oldDungeonDto.DungeonName;
                    dungeonModel.Description = oldDungeonDto.DungeonDescription;
                    dungeonModel.Epoch = oldDungeonDto.DungeonEpoch;
                    dungeonModel.Status = oldDungeonDto.Status == 0 ? "Approved" : "Pending";
                    dungeonModel.Visibility = oldDungeonDto.Visibility == 0 ? "Private" : "Pending";
                    if (!(oldDungeonDto.DefaultRoom is null))
                    {
                        dungeonModel.DefaultRoom = oldDungeonDto.DefaultRoom.Name;
                    }
                    //TODO: Maybe den User Benachrichtigen über Fehler?
                }

            }
        }
    }
}

