
<nav style="display: flex; flex-direction: column; height: 87vh">
    <div class="top-row pl-4 navbar navbar-dark">
        <a href="/admin/dungeons" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
            <span class="navbar-brand"><h3>Admin Menü</h3></span>
        </a>
    </div>
    <div class="sidebar-sticky" style="height:100%">
        <div class="list-group list-group-flush border-bottom scrollarea">
            <a class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true" href="/admin/dungeons">
                <div class="d-flex align-items-center justify-content-between">
                    <strong class="mb-1">Dungeons</strong>
                </div>
            </a>
        </div>
        <div class="list-group list-group-flush border-bottom scrollarea">
            <a class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true" href="/admin/users">
                <div class="d-flex align-items-center justify-content-between">
                    <strong class="mb-1">Spieler</strong>
                </div>
            </a>
        </div>
    </div>
</nav>

@code {

}