<div class="footer bg-dark text-center" style="padding: 1rem; bottom: 0; left: 0; width: 100%; color: #fff; line-height: 60px;">
    <p>© 2021 Projekt Apollon · 
        <a href="/impressum">
            <span>Impressum</span>
        </a>
    </p>
</div>
@code {

}
