@inherits LayoutComponentBase

<div class="MainLayout" id="MainLayout" style="overflow-x:hidden">
    <div class="mb-0" style="min-height: 100vh">
        <NavBar />

        <div id="content">
            @Body
        </div>
    </div>
    <div id="footer">
        <Footer />
    </div>
    
</div>

