@inherits LayoutComponentBase


<div class="MasterViewLayout" id="MasterViewLayout" style="overflow-x:hidden">
    <div style="min-height: 100vh">
        <NavBar />
        <div class="row">
            <nav class="navbar navbar-light bg-secondary">
                <div class="col-8">

                    <div class="container">
                        <div class="d-flex justify-content-center"></div>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary ms-5" href="/MasterView/PlayerList">Spielerliste</a>
                            <a class="btn btn-primary ms-5" href="/MasterView/Requests">Anfragen</a>
                            <a class="btn btn-primary ms-5" href="/MasterView/Configuration">Konfiguration</a>
                        </div>
                        <div class="d-flex justify-content-center"></div>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <h4 class="text-light">Chat</h4>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="content">
                    @Body
                </div>
            </div>
            <div class="col-4">
                <div class="container bg-secondary">
                    <ChatComponent />
                </div>
            </div>
        </div>
    </div>
    <Footer />
</div>
