@inherits LayoutComponentBase


<div class="MasterViewLayout" id="MasterViewLayout" style="overflow-x:hidden">
    <div style="min-height: 100vh">
        <NavBar />
        <div class="row">
            <nav class="navbar navbar-light bg-secondary" style="height:6vh">
                <div class="col-8">

                    <div class="container">
                        <div class="d-flex justify-content-center"></div>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary ms-5" href="/dungeon/master/playerlist">Spielerliste</a>
                            <a class="btn btn-primary ms-5" href="/dungeon/master/requests">Anfragen</a>
                            <a class="btn btn-primary ms-5" href="/dungeon/master/configuration">Konfiguration</a>
                        </div>
                        <div class="d-flex justify-content-center"></div>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <h4 class="text-light">Chat</h4>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="col-8" style="max-height:87vh">
                <div class="content">
                    @Body
                </div>
            </div>
            <div class="col-4" style="max-height:87vh; padding-left:0;">
                <div class="bg-secondary">
                    <ChatComponent />
                </div>
            </div>
        </div>
    </div>
    <Footer />
</div>
