@using Apollon.Mud.Client.Data.Account

@inject Apollon.Mud.Client.Services.Interfaces.IAuthorizationService AuthorizationService
@inject NavigationManager NavManager
@inject UserContext UserContext

<AuthorizeView>
    <Authorized>
        @if (UserContext.DungeonUserContext.IsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-light" href="/admin/dungeons">Admin</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-light" href="/wiki">Wiki</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/dungeons">Spiele</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/user/dungeons">Deine Dungeons</a>
        </li>
        <li class="nav-item">
            <a type="button" class="nav-link btn btn-link text-light" @onclick="LogOutUser">Ausloggen</a>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a class="nav-link text-light" href="Identity/Account/Register">Registrieren</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="Identity/Account/Login">Anmelden</a>
        </li>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void LogOutUser()
    {
        AuthorizationService.LogOut();
        NavManager.NavigateTo("/");
    }
}
