<AuthorizeView>
    <Authorized>
        <li class="nav-item">
            <a class="nav-link text-light" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/dungeons">Games</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/YourDungeons">Deine Dungeons</a>
        </li>
        <!--<li class="nav-item me-0">-->
            @*<a class="nav-link text-light" href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>*@
            <!--<a class="nav-link text-light" href="Identity/Account/Manage">context.User.Identity.Name</a>
        </li>-->
        <li class="nav-item">
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="nav-link btn btn-link text-light">Log out</button>
            </form>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a class="nav-link text-light" href="Identity/Account/Register">Registrieren</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="Identity/Account/Login">Anmelden</a>
        </li>
    </NotAuthorized>
</AuthorizeView>

@code {

}
