
<nav class="col-md-3 d-none d-md-block bg-secondary sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
        <a href="/CreateDungeon" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
            <svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 388.39 512" height="2rem" width="2rem">
                <defs>
                    <style>
                        .cls-1 {
                            fill: #bdbdbd;
                        }

                        .cls-2 {
                            fill: #3fb3da;
                        }

                        .cls-3 {
                            fill: #31574b;
                        }

                        .cls-4 {
                            fill: #181818;
                        }
                    </style>
                </defs>
                <g id="_071---Lyre" data-name="071---Lyre"><path id="Shape" class="cls-1" d="M370.76,53h-53V44.14a8.83,8.83,0,1,0-17.65,0V53H264.83V44.14a8.83,8.83,0,1,0-17.66,0V53H211.86V44.14a8.83,8.83,0,1,0-17.65,0V53H158.9a8.83,8.83,0,1,0,0,17.65h35.31V373.9a8.83,8.83,0,1,0,17.65,0V70.62h35.31v309a8.83,8.83,0,0,0,17.66,0v-309h35.31V373.9a8.83,8.83,0,1,0,17.65,0V70.62h53a8.83,8.83,0,1,0,0-17.65Z" transform="translate(-61.8 0)" /><path id="Shape-2" data-name="Shape" class="cls-2" d="M397.24,53c0,123.58,44.14,141.24,44.14,238.34,0,68.24-83,123.59-185.38,123.59S70.62,359.55,70.62,291.31c0-97.1,44.14-114.76,44.14-238.34a14.41,14.41,0,0,1-.09,1.85A18.94,18.94,0,0,1,93.31,70.44,35.35,35.35,0,0,1,62.15,30.37,34.94,34.94,0,0,1,97.19,0,61.34,61.34,0,0,1,158.9,61.79c0,67.62-8.57,96.49-19.34,129.68-10.32,32-21.36,70.44-14.3,104.08,5.74,27.54,26.84,44.14,52.35,53.85A229.17,229.17,0,0,0,256,361.93c46.26,0,119.26-11.39,130.74-66.38,7.06-33.64-4-72.12-14.3-104.08-10.77-33.19-19.34-62.06-19.34-129.68A61.34,61.34,0,0,1,414.81,0a34.94,34.94,0,0,1,35,30.37,35.35,35.35,0,0,1-31.16,40.07,18.94,18.94,0,0,1-21.36-15.62,14.41,14.41,0,0,1-.09-1.85Z" transform="translate(-61.8 0)" /><path id="Shape-3" data-name="Shape" class="cls-3" d="M114.76,61.79A8.82,8.82,0,0,1,105.93,53a8.83,8.83,0,0,0-8.83-8.83,8.83,8.83,0,0,1,0-17.66A26.49,26.49,0,0,1,123.59,53a8.83,8.83,0,0,1-8.83,8.82Z" transform="translate(-61.8 0)" /><path id="Shape-4" data-name="Shape" class="cls-3" d="M397.24,61.79A8.83,8.83,0,0,1,388.41,53,26.49,26.49,0,0,1,414.9,26.48a8.83,8.83,0,0,1,0,17.66A8.83,8.83,0,0,0,406.07,53a8.83,8.83,0,0,1-8.83,8.82Z" transform="translate(-61.8 0)" /><path id="Shape-5" data-name="Shape" class="cls-4" d="M167.72,414.9H344.28a8.82,8.82,0,0,1,8.82,8.82V459H158.9V423.72A8.82,8.82,0,0,1,167.72,414.9Z" transform="translate(-61.8 0)" /><path id="Shape-6" data-name="Shape" class="cls-1" d="M158.9,459H353.1a17.66,17.66,0,0,1,17.66,17.66v26.48a8.83,8.83,0,0,1-8.83,8.83H150.07a8.83,8.83,0,0,1-8.83-8.83V476.69A17.66,17.66,0,0,1,158.9,459Z" transform="translate(-61.8 0)" /><path id="Shape-7" data-name="Shape" class="cls-3" d="M211.86,414.9V459h-53V423.72a8.82,8.82,0,0,1,8.82-8.82Z" transform="translate(-61.8 0)" /><path id="Shape-8" data-name="Shape" class="cls-2" d="M370.76,476.69v26.48a8.83,8.83,0,0,1-8.83,8.83H309V459H353.1A17.72,17.72,0,0,1,370.76,476.69Z" transform="translate(-61.8 0)" /></g>
            </svg>
            <span class="navbar-brand"><h3>Übersicht</h3></span>
        </a>
    </div>
    <div class="sidebar-sticky">
        <div class="list-group list-group-flush border-bottom scrollarea">
            <a class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                <div class="d-flex align-items-center justify-content-between">
                    <strong class="mb-1">Allgemeines</strong>
                </div>
                <div class="col-10 mb-1 small">Name, Beschreibung, Befehle</div>
            </a>
        </div>
        <div class="list-group list-group-flush border-bottom scrollarea">
            <a class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                <div class="d-flex align-items-center justify-content-between">
                    <strong class="mb-1">Klassen</strong>
                </div>
                <div class="col-10 mb-1 small">Name, Schaden, Lebenspunkte, Verteidigung</div>
            </a>
        </div>
        <div class="list-group list-group-flush border-bottom scrollarea">
            <a class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                <div class="d-flex align-items-center justify-content-between">
                    <strong class="mb-1">Rassen</strong>
                </div>
                <div class="col-10 mb-1 small">Name, Schaden, Lebenspunkte, Verteidigung, Beschreibung</div>
            </a>
        </div>
        <div class="list-group list-group-flush border-bottom scrollarea">
            <a class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                <div class="d-flex align-items-center justify-content-between">
                    <strong class="mb-1">NPCs</strong>
                </div>
                <div class="col-10 mb-1 small">TODO</div>
            </a>
        </div>
        <div class="list-group list-group-flush border-bottom scrollarea">
            <a class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                <div class="d-flex align-items-center justify-content-between">
                    <strong class="mb-1">Items</strong>
                </div>
                <div class="col-10 mb-1 small">Type, Name, Beschreibung, Effekt</div>
            </a>
        </div>
        <div class="list-group list-group-flush border-bottom scrollarea">
            <a class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                <div class="d-flex align-items-center justify-content-between">
                    <strong class="mb-1">Räume</strong>
                </div>
                <div class="col-10 mb-1 small">Name, Beschreibung, Nachbarräume, Items, NPCs, Befehle</div>
            </a>
        </div>
    </div>
</nav>

@code {

}