@page "/Identity/Account/ForgotPassword"

@using Apollon.Mud.Client.Data.Models


<div class="container d-flex justify-content-center">
    <div class="card mt-5" style="width:45rem">
        <div class="card-body text-center">
            <h1 class="display-2">Passwort vergessen?</h1>

            <section>
                <h4 class="ml-2">Hier kannst Du es zurücksetzen</h4>
                <hr />
                <EditForm EditContext="@resetPasswordContext" OnSubmit="@HandleResetSubmit" novalidate>
                    <DataAnnotationsValidator />

                    <div class="form-group mt-5">
                        <label for="Input_Email">E-Mail</label>
                        <div class="d-flex justify-content-center">
                            <InputText class="form-control" style="width:25rem" type="email" placeholder="E-Mail" id="Email" @bind-Value="forgotPasswordModel.Email" />
                        </div>
                    </div>
                    <div class="text-danger">
                        <ValidationMessage For=@(() => forgotPasswordModel.Email) />
                    </div>
                    <div class="form-group mt-4">
                        <label for="Input_Password">E-Mail bestätigen</label>
                        <div class="d-flex justify-content-center">
                            <InputText class="form-control" style="width:25rem" placeholder="E-Mail bestätigen" id="Passwort" @bind-Value="forgotPasswordModel.EmailVerification" />
                        </div>
                    </div>
                    <div class="text-danger">
                        <ValidationMessage For=@(() => forgotPasswordModel.EmailVerification) />
                    </div>
                    <button class="btn btn-primary mt-5" type="submit">Zurücksetzen</button>
                </EditForm>
                <p></p>
                <p class="mt-5">
                    <label class="text-muted">Dir ist es wieder eingefallen?</label>
                    <a class="text-muted" href="/Identity/Account/Login"> Jetzt anmelden</a>
                </p>
            </section>
        </div>
    </div>
</div>

@code {

    private ForgotPasswordModel forgotPasswordModel = new ForgotPasswordModel();

    private EditContext resetPasswordContext;

    protected override void OnInitialized()
    {
        resetPasswordContext = new EditContext(forgotPasswordModel);
    }

    private async Task HandleResetSubmit()
    {
        var validCredentials = resetPasswordContext.Validate();
        if (validCredentials)
        {
            //TODO Daten absenden
        }
        else
        {
            //TODO User Benachrichtigen
        }
    }

}

