@page "/"

    <div class="container-fluid">
        <div class="jumbotron mt-5 mb-5 bg-transparent">
            <div class="container ">
                <h1 class="display-3 text-white">Willkommen!</h1>
                <p class="text-white">Bist du Multi-User-Dungeon Enthusiast? Dann bist du hier genau richtig! </p>
                <p class="text-white">Hier kannst du nicht nur an anderen Dungeons teilnehmen, sondern auch Master deines eigens erstellten Dungeons werden.</p>
                <a class="btn btn-primary btn-lg" href="/Identity/Account/Register" role="button">Registrieren &raquo;</a>
                <a class="btn btn-primary btn-lg ml-3" href="/Identity/Account/Login" role="button">Anmelden &raquo;</a>
            </div>
        </div>


    </div>
    <div class="container-fluid bg-light">
        <div class="container ">
            <div class="row ">
                <div class="col-md-4 mt-5">
                    <h2>Über uns</h2>
                    <p>Willkommen bei Projekt-Apollon. Apollon ist ein 6-Personen Software-Engineering Projekt des Kurses TINF2019 der DHBW Stuttgart Campus Horb. Der folgende Button führt dich auf unsere Team-Homepage</p>
                </div>
                <div class="col-md-4 mt-5">
                    <h2>Was sind MUDs?</h2>
                    <p>Du weißt noch nicht was MUDs sind oder wie man spielt? Auf unsere Übersichtsseite findest du alle Informationen um dir den Einstieg so einfach wie möglich zu machen.</p>
                </div>
                <div class="col-md-4 mt-5">
                    <h2>Repository</h2>
                    <p>Du bist daran interessiert, wie wir das Projekt realisiert haben? Alle Informationen und den Source-Code findest du in unserem GitHub-Repository.</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4">
                    <p><a class="btn btn-secondary" href="https://apollon-dungeons.de/" role="button">Mehr Details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <p><a class="btn btn-secondary" href="#" role="button">Zur Übersicht &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <p><a class="btn btn-secondary" href="https://github.com/FlorianAlbert/Projekt-Apollon" role="button">Zum Repo &raquo;</a></p>
                </div>
            </div>
        </div>
        <hr>

    </div>

    @code {

    }
