@page "/Identity/Account/Login"


<div class="container-fluid bg-white">
    <div class="container">
        <h1 class="display-2">Anmelden</h1>
        <div class="row">
            <section>
                <form class="needs-validation">
                    <h4 class="ml-2">Nutze deinen bereits erstellten Account um dich anzumelden</h4>
                    <hr />

                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="Input_Email">E-Mail</label>
                            <input class="form-control" type="email" id="Input_Email" placeholder="E-Mail" required>
                            <div class="valid-feedback">Sehr gut!</div>
                            <div class="invalid-feedback">Du musst eine korrekte E-Mail Adresse angeben</div>
                        </div>
                        
                        <div class="form-group">
                            <label for="Input_Password">Passwort</label>
                            <input class="form-control" type="password" id="Input_Password" required>
                            <div class="valid-feedback">Bla</div>
                            <div class="invalid-feedback">Du musst dein Passwort eingeben</div>
                        </div>
                        <button class="btn btn-primary" type="submit" href="/">Anmelden</button>
                        <div class="form-group">
                            <p>
                                <a id="forgot-password" href="/Identity/Account/ForgotPassword">Passwort vergessen?</a>
                            </p>
                            <p>
                                <a href="/Identity/Account/Register">Jetzt registrieren</a>
                            </p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@code {

}
