@page "/MasterView/PlayerList"
@layout MasterViewLayout

<div class="row">   
    <div class="col-4">
        <div class="list-group" style="overflow:auto; overflow-y:scroll; max-height:88vh">
            <button type="button" class="list-group-item list-group-item-action" style="height:100px">
                <h5>Liste aller Spieler</h5>
            </button>
            @for (int i = 0; i < 10; i++)
            {
                <button type="button" class="list-group-item list-group-item-action">
                    <h5>Spieler in Raum:</h5>
                    <span> </span>
                    <h6>Raum @i</h6>
                </button>
            }
        </div>
    </div>
    <div class="col-8">
        <h2 class="mt-3">Übersicht aller Spieler</h2>
        <ul class="list-group" style="overflow:auto; overflow-y:scroll; max-height:81vh">
            @for (int i = 0; i < 100; i++)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            Spieler @i
                        </div>
                        <div class="col">

                        </div>
                        <div class="col ">
                            <button class="btn btn-danger btn-sm float-end" type="button">Entfernen</button>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

@code {

}
