@page "/MasterView/Configuration"
@using Apollon.Mud.Client.Shared
@using Apollon.Mud.Client.Shared.Components.Dungeon
@layout MasterViewLayout


<div class="row">
    <div class="col-4">
        <SideBarComponent />
    </div>
    <div class="col-8 bg-white">
        <div style="display: flex; flex-direction: column; height: 87vh">
            <div style="overflow-y:auto; overflow-x:hidden ;height:100%">
                <h1 class="display-2">Dungeon konfigurieren</h1>
                <h4>Hier kannst du den Dungeon konfigurieren!</h4>
                <hr class="featurette-divider" />
                <section class="Classes mt-3" id="Classes">
                    <CreateDungeonClassesComponent />
                </section>
                <section class="Races mt-3" id="Races">
                    <CreateDungeonRacesComponent />
                </section>
                <section class="Items mt-3" id="Items">
                    <CreateDungeonItemComponent />
                </section>
                <section class="Npcs mt-3" id="Npcs">
                    <CreateDungeonNpcsComponent />
                </section>
                <section class="Rooms mt-3" id="Rooms">
                    <CreateDungeonRoomComponent />
                </section>
            </div>
        </div>
    </div>
</div>

@code {

}
