@using Apollon.Mud.Client.Data.Models.Game

@page "/MasterView/Requests"
@page "/MasterView/Requests/{DungeonId:guid}"
@layout MasterViewLayout

<div class="row bg-white" style="padding:0;">
    <div class="col-4">
        <div class="card" style="display: flex; flex-direction: column; height: 87vh">
            <div class="list-group" style="overflow-y:auto; max-height:100%">
                @for (int i = 0; i < 20; i++)
                {

                    <button type="button" class="list-group-item list-group-item-action">
                        <h5>Avatarname</h5>
                        <span> </span>
                        <h6>Befehl</h6>
                    </button>
                }
            </div>
        </div>
    </div>
    <div class="col-8">
        <div style="display: flex; flex-direction: column; height: 87vh">
            <div class="container mt-3" style="height:100% ">
                <h3>Avatarname möchte: </h3>
                <h5>Befehl</h5>
                <EditForm EditContext="@masterRequestContext" @onsubmit="HandleActionAnswerSubmit" novalidate>
                    <DataAnnotationsValidator />
                    <InputTextArea class="form-control" placeholder="Raumbeschreibung" @bind-Value="roomDescription" />
                    <hr class="featurette-divider" />
                    <InputTextArea class="form-control  mb-5" placeholder="Reaktion" @bind-Value="textReaction" />
                    <p>Lebenspunkte</p>
                    <input type="range" class="form-range" min="0" max="100" step="1" @bind="@health" @bind:event="oninput" />
                    <InputText class="form-control mb-3" style="width:3.5rem" @bind-Value="health" />
                    <p>Schaden</p>
                    <input type="range" class="form-range" min="0" max="100" step="1" @bind="@damage" @bind:event="oninput" />
                    <InputText class="form-control mb-3" style="width:3.5rem" @bind-Value="damage" />
                    <p>Verteidigung</p>
                    <input type="range" class="form-range" min="0" max="100" step="1" @bind="@defense" @bind:event="oninput" />
                    <InputText class="form-control mb-3" style="width:3.5rem" @bind-Value="defense" />
                    <button class="btn btn-success mt-5" style="width:15rem" type="submit">Bestätigen</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    /// <summary>
    /// TODO Abhilfe
    /// </summary>
    MasterRequestModel masterRequestModel = new MasterRequestModel();

    /// <summary>
    /// TODO Abhilfe
    /// </summary>
    EditContext masterRequestContext;

    /// <summary>
    /// The ID of the Dungeon the Master is handling
    /// </summary>
    [Parameter]
    public Guid DungeonId { get; set; }

    #region Bound Variables
    /// <summary>
    /// TODO
    /// </summary>
    string roomDescription;

    /// <summary>
    /// TODO
    /// </summary>
    string textReaction;

    /// <summary>
    /// TODO
    /// </summary>
    string health;

    /// <summary>
    /// TODO
    /// </summary>
    string damage;

    /// <summary>
    /// TODO
    /// </summary>
    string defense;
    #endregion

    /// <summary>
    /// TODO Abhilfe
    /// </summary>
    protected override void OnInitialized()
    {
        masterRequestContext = new EditContext(masterRequestModel);
    }

    private async Task HandleActionAnswerSubmit()
    {
        var validAnswer = masterRequestContext.Validate();
        if (validAnswer)
        {
            //TODO Wartend auf Gamecontroller
        }

    }
}
