
.card-text {
    overflow: hidden;
    position: relative;
    display: block;
}

.card-text::before {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50%);
    content: '\200C';
    display: block;
    position: absolute;
    right: 0;
    top: 6.5rem;
    width: 25%;
    text-align: center;
}
