@page "/Wiki"


<div class="container shadow d-flex bg-white min-vh-100">
    <div class="row container-fluid">
        <div class="col-lg-9 mt-3">
            <div class="container">
                <h1>Spiele-Wiki</h1>

                <div class="card mt-2 shadow">
                    <h5 class="card-header">Erstellen eines Dungeons</h5>
                    <div class="row">
                        <div class="card-text">
                            <h5 class="ms-2">1. Deine Dungeons</h5>
                            @*<div class="Bild"></div>*@
                            <p class="ms-4">
                                Nach der Anmeldung im Client wirst du auf diese Seite weitergeleitet.
                                Zu sehen ist die Startseite des Clients. Auf der Startseite befindet sich in der rechten oberen Ecke der Button „Deine Dungeons“.
                                Klicke auf diesen Button um die Seite deiner erstellten Dungeons zu gehen.
                            </p>
                            <h5 class="ms-2">2. Neuer Dungeon</h5>
                            @*<div class="Bild"></div>*@
                            <p class="ms-4">
                                Auf dieser Seite werden deine bereits erstellten Dungeons angezeigt.
                                Um mit der Erstellung des Dungeons zu beginnen, klicke auf eines der markierten Bereiche.
                                Daraufhin erfolgt eine automatische Weiterleitung.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card-text">
                            <h5 class="ms-2">3. Allgemeines</h5>
                            @*<div class="Bild"></div>*@
                        <p class="ms-4">
                            Die Seite zur Erstellung eines Dungeons, ist der Start zur vollständigen Erstellung eines Dungeons.
                            Unter „Allgemeines“ sind die notwendigen Informationen des zu erstellenden Dungeons. Damit dieser Abschnitt erfolgreich gespeichert werden kann, müssen alle Felder ausgefüllt werden. Der Status muss initial auf „Inaktiv“ gesetzt werden.
                            Bei der Sichtbarkeit ist es möglich zwischen „Privat“ und „Öffentlich“ zu wählen. Falls „Privat“ gewählt wird, ist der Dungeon für alle Player sichtbar, jedoch muss ein Player eine Anfrage für die Teilnahme des Dungeons schicken. 
                            Diese Personen werden individuell vom DungeonMaster angenommen. Die öffentliche Sichtbarkeit hingegen, bietet jedem Spieler Zugang.
                            Ist alles aufgefüllt und der Speicherbutton wurde betätigt, erscheinen automatische die restlichen Konfigurationsmöglichkeiten.
                            Zu den einzelnen Konfigurationsmöglichkeiten wird in den folgenden Schritten eingegangen.
                        </p>
                            <h5 class="ms-2">2. Neuer Dungeon</h5>
                            @*<div class="Bild"></div>*@
                            <p class="ms-4">
                                Auf dieser Seite werden deine bereits erstellten Dungeons angezeigt.
                                Um mit der Erstellung des Dungeons zu beginnen, klicke auf eines der markierten Bereiche.
                                Daraufhin erfolgt eine automatische Weiterleitung.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
