<div class="content">
    <div class="container-fluid">
        <div class="container">
            <h1 class="display-4 text-white">Einen Moment bitte</h1>
            <h3 class="text-white">Die Verbindung zu Server wird aufgebaut, bitte gedulde dich kurz</h3>
            <p />
            <p class="text-white">Warte bitte einige Minuten und versuche es dann erneut</p>
            <p class="text-white">Sollte das Problem weiterhin bestehen, melde dich bitte beim Support</p>
        </div>
    </div>
</div>
