

.list-group-item ::deep a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.list-group-item {
    background-color: transparent;
    color: white;
}