
<div class="tooltip-wrapper">
    <span>@Text</span>
    @ChildContent
</div>

@code {
        /// <summary>
        /// The Child component that the tooltip is wrapped around
        /// </summary>
        [Parameter] 
        public RenderFragment ChildContent { get; set; }

        /// <summary>
        /// The Tooltips text
        /// </summary>
        [Parameter] 
        public string Text { get; set; }
}
