
<div class="content">
    <div class="container-fluid">
        <div class="container">
            <h1 class="display-4 text-white">Nicht so schnell!</h1>
            <h3 class="text-white">Du musst angemeldet sein, bevor du diese Seite einsehen kannst</h3>
            <p />
            <p class="text-white">Du hast bereits einen Account? Perfekt! Nutze den folgenden Button um dich anzumelden.</p>
            <a class="btn btn-dark mb-3" href="Identity/Account/Login" role="button">Anmelden &raquo;</a>
            <p class="text-white">Du bist neu hier und hast noch keinen Account? Der Button "Registrieren" macht es zur Leichtigkeit einen Account anzulegen. 
                <br /> Alles was du dafür brauchst ist eine gültige E-Mail-Adresse.</p>
            <a class="btn btn-dark mb-3" href="/Identity/Account/Register" role="button">Registrieren &raquo;</a>
        </div>
    </div>
</div>


