@page "/dungeon/kickedmessage"

<AuthorizeView>
    <Authorized>
        <div class="container d-flex justify-content-center">
            <div class="card mt-5" style="width:45rem">
                <div class="card-body text-center">
                    <h1 class="display-2">Dungeon Verlassen</h1>
                    <section>
                        <h4 class="ml-2">Du wurdest aus dem Dungeon gekickt oder gebannt</h4>
                        <h4>Dies kann zwei Gründe haben:</h4>
                        <hr />
                        <p>1. Ein Dungeon Master hat dich aktiv aus dem Dungeon gekickt oder verbannt</p>
                        <p>   Falls du gekickt wurdest, kannst du dem Dungeon erneut beitreten</p>
                        <p>   Im Falle eines Banns ist dir der Beitritt zum Dungeon verboten</p>
                        <hr />
                        <p>2. Der Dungeon Master hat den Dungeon zeitweise auf inaktiv gesetzt um ihn zu bearbeiten</p>
                        <p>   In diesem Fall kannst du dem Dungeon problemlos wieder beitreten, sobald er wieder aktiv ist</p>
                        <p>   Sei ganz unbesorgt, dein Fortschritt wurde vollstädnig gespeichert</p>
                        <hr />
                        <a class="btn btn-primary mt-2" href="/">Zurück zur Startseite</a>
                    </section>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <Apollon.Mud.Client.Shared.Components.Account.LoginReminderComponent />
    </NotAuthorized>
</AuthorizeView>

@code {

}
